* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(18, 19, 24);
    z-index: 100;
    bottom: 0;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

#navbar ul li {
    padding-right: 50px;
    background-color: rgb(18, 19, 24);
}

#navbar ul li a {
    background-color: rgb(18, 19, 24);
}


#navbar ul a:hover {
    opacity: 0.7;
}

#navbar #anasayfa {
    margin-left: 10px;
    padding: 0px;
    width: 65px;
    height: auto;
    
}
#navbar #piyasalar {
    padding: 0px;
    width: 57px;
    height: auto;
}
#navbar #kesfet {
    padding: 0px;
    width: 41px;
    height: auto;
}
#navbar #destek {
    padding: 0px;
    width: 42px;
    height: auto;
}
#navbar #profil {
    padding: 0px;
    width: 33px;
    height: auto;
}